#app { height: 100% }

/* 
.contenedorSwiper2{
    padding: 0 10px;
} */
.contenedorSwiper2 .swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.contenedorSwiper2 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.contenedorSwiper2 .swiper-slide img {
  display: block;
  width: 100%;
}
