:root{
  /* global */
  --font-titulo-subtitulo:'Gloria Hallelujah', cursive;
  --font-paragraph: 'Yeon Sung';
  --title-font-color: white;
  --title-color-shadow: #ffe431;
  /* for pc */
 --title-font_size_pc: x-large;
 --subtitle-font_size_pc: x-large;
 --paragraph-font_size_pc: medium;
 


 /* for mobile */
 --title-font_size: 30px;
 --subtitle-font_size: 20px;
 --paragraph-font_size: 16px;
}
.titulo{
  font-size: var(--title-font_size);
  font-family: var(--font-titulo-subtitulo);
  color: var(--title-font-color);
  text-shadow: 1px 2px var(--title-color-shadow);
}
.subtitulo{
  font-size: var(--subtitle-font_size);
  font-family: var(--font-titulo-subtitulo);
  
}
.parrafo{
  font-size: var(--paragraph-font_size);
  font-family: var(--font-paragraph);
  color: white;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 500px) {
  .parrafo{
    font-size: 20px;
  }
}