/* header  {
    width: 100%;
    height: auto;
    background: url("//cdn.shopify.com/s/files/1/0611/4865/9963/files/slider01.jpg?v=1637648972");
} */

header {
    margin-bottom: 30px;
}
.contenedorP{
    padding: 0 15px;
    text-align: center;
}

/* preguntas frecuentes */
.preguntas-frecuentes{
    margin-bottom: 15px;
}
/* fin preguntas frecuentes */


/* secciones galeria */
.opciones-galeria{
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.opciones{
    list-style: none;
    
}
.opciones a{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: gray;  
    transition: .3s;
}
.opciones .opc-abs::after{
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 3px solid #ffe431;
    
}
.opciones .opc-pix::after{
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 3px solid #ffe431;
    
}
.opciones a:hover{
    color: black;
}

/* .seccion-arteAbstracto{
    display: none;
} */
.seccion-pixelArt{
   
    display: none;
} 

.show {
   display: flex;
 
    
}
/* fin secciones galeria */