#app {
  height: 100%;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* fill normalmente */
  object-fit: cover;
  
  
}

.texto-header{
  /* margin: 0 20px 0 20px; */
 
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  left: 0;
  z-index: 4;
}
 .texto-header p{
  padding: 0 15px;
  line-height: 30px;
 }


/* CSS btn ver mas*/
.btn_verMas {
  background-color: var(--title-color-shadow);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_verMas:hover {
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05) rotate(-1deg);
}



